
.mapa {
    position: relative; 

    width: 95vw;
    max-width: 1400px;
    height: 80vh;

    margin: 30px auto;

    background: url('../images/mapaleo.png') no-repeat center;
    background-size: cover;

    border-radius: 15px;
    overflow: hidden;
}


/* Contenedor general */
.nivel {
    position: absolute;
}

/* Estilo de los círculos */
.circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* efecto tipo juego */
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    border: 3px solid white;
}

/* Texto */
.circulo h2 {
    margin: 0;
    font-size: 24px;
}

.circulo p {
    margin: 0;
    font-size: 12px;
}

.estrellas {
    font-size: 14px;
}

/* Colores */
.verde { background: #4CAF50; }
.azul { background: #4A90E2; }
.amarillo { background: #F4C542; color: black; }
.morado { background: #8E44AD; }
.rosa { background: #E91E63; }

/* POSICIONES (ajústalas según tu imagen) */

/* Aa - abajo izquierda */
.nivel-1 { 
    top: 72%; 
    left: 14%; 
}

/* Ee - centro izquierda */
.nivel-2 { 
    top: 52%; 
    left: 35%; 
}

/* Ii - centro abajo */
.nivel-3 { 
    top: 68%; 
    left: 55%; 
}

/* Oo - derecha media */
.nivel-4 { 
    top: 48%; 
    left: 75%; 
}

/* Uu - arriba derecha */
.nivel-5 { 
    top: 30%; 
    left: 62%; 
}


/* Animación ligera */
.circulo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}