body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/fondo_configuracion.jpeg);
    background-size: cover;      
    background-position: center;    
    background-repeat: no-repeat;
    height: 100%;
}

html{
    height: 100%;
}

.container {
    display: flex;
    background: transparent;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    padding: 20px;
    height: 100vh;
}

.logo {
    position: absolute;
    top: -10px; 
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    margin-bottom: 5px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 12px;
    margin: 10px 0;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    cursor: pointer;
}

.sidebar li.active {
    background: white;
    color: black;
}

.logout {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
}

/* MAIN */
.main {
    background: transparent;
    padding: 20px;
    width: 100%;
}

.characters img {
    width: 80px;
    margin-right: 10px;
}

/* CARD */
.card {
    border-radius: 12px;
    margin-top: 20px;
    overflow: hidden;
}

.card-header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.card-content {
    display: none;
    padding: 15px;
    background: #bde1ec;
}

.arrow {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}