*{
    margin: 0;
    padding: 0;
}
 
body{
    overflow-x:hidden;
}
/* HERO */
 
.hero{
    position:relative;
    height:550px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px 100px;
    overflow:hidden;
    background: linear-gradient(
        90deg,
        rgba(0,0,0,.78) 0%,
        rgba(0,0,0,.60) 25%,
        rgba(0,0,0,.32) 50%,
        rgba(0,0,0,.08) 75%,
        rgba(0,0,0,0) 100%),
        url('../images/fondohome.png');
    background-size:cover;
    background-position:center;
    color:white;
}
 
.hero-content{
    width:45%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    z-index:2;
}
 
.hero-content h1{
    font-family:'Fredoka', sans-serif;
    font-size:4.5rem;
    font-weight:700;
    line-height:1.05;
    letter-spacing:-1px;
    color:#ffffff;
    max-width:600px;
    margin-bottom:25px;
    text-shadow: 0 3px 8px rgba(0,0,0,.25);
}

.hero-content h1 span{
    display:block;
}
 
.hero-content p{
    font-family:'Nunito', sans-serif;
    font-size:1.40rem;
    font-weight:600;
    line-height:1.45;
    color:#f5f5f5;
    max-width:650px;
    margin-bottom:35px;
    text-shadow:0 2px 6px rgba(0,0,0,.25);
}

.hero-buttons{
    display:flex;
    flex-direction: row;
    gap:20px;
}
 
.hero-btn{
    display:inline-block;
    background:#57c84d;
    color:white;
    text-decoration:none;
    font-family:'Nunito', sans-serif;
    font-size:1.20rem;
    font-weight:750;
    padding:18px 55px;
    border-radius:18px;
    transition:.3s ease;
    box-shadow: 0 6px 18px rgba(88,200,76,.35);
}

.hero-btn:hover{
    background:#45b43d;
    transform:translateY(-3px);
    box-shadow: 0 10px 25px rgba(88,200,76,.5);
}

.progress-btn{
    display:inline-block;
    background:white;
    border: 2px solid #57c84d;
    color:#367231;
    text-decoration:none;
    font-family:'Nunito', sans-serif;
    font-size:1.20rem;
    font-weight:750;
    padding:18px 55px;
    border-radius:18px;
    transition:.3s ease;
    box-shadow: 0 6px 18px rgba(88,200,76,.35);
}

.progress-btn:hover{
    background:#57c84d;
    color:#ffffff;
    transform:translateY(-3px);
    box-shadow: 0 10px 25px rgba(88,200,76,.5);
}

 
.hero-characters{
    display:flex;
    align-items:flex-end;
    position:absolute;
    right:110px;
    bottom:70px;
}
 
.hero-characters img{
    width:230px;
    object-fit:contain;
    filter:
    drop-shadow(0 18px 18px rgba(0,0,0,.25));
    transition:.3s;
}
 
.hero-characters img:hover{
    transform: translateY(-10px) scale(1.03);
}
 
.hero::after{
    content:"";
    position:absolute;
    bottom:35px;
    right:220px;
    width:550px;
    height:40px;
    background:rgba(0,0,0,.18);
    filter:blur(20px);  
    border-radius:50%;
}
 
/* ================= BENEFICIOS ================= */
 
.beneficios{
    padding:70px 90px;
    background:#ffffff;
}
 
.beneficios h2{
    font-family:'Fredoka', sans-serif;
    font-size:3.5rem;
    text-align:center;
    margin-bottom:70px;
}
 
.beneficios-grid{
 
    display:flex;
 
    justify-content:space-between;
 
    gap:40px;
}
 
.beneficio{
 
    flex:1;
 
    text-align:center;
 
    padding:35px 25px;
 
    border-radius:25px;
 
    transition:.3s ease;
}
 
.beneficio:hover{
 
    transform:translateY(-8px);
 
    box-shadow:
 
    0 10px 25px rgba(0,0,0,.08);
}
 
/* ICONOS */
 
.benefit-icon{
 
    font-size:65px;
 
    color:#2E8B57;
 
    margin-bottom:25px;
 
    transition:.3s ease;
}
 
.beneficio:hover .benefit-icon{
 
    transform:scale(1.1);
 
    color:#1f6d40;
}
 
.beneficio h3{
 
    font-family:'Fredoka', sans-serif;
 
    font-size:1.8rem;
 
    font-weight:600;
 
    margin-bottom:18px;
 
    color:#222;
}
 
.beneficio p{
 
    font-family:'Nunito', sans-serif;
 
    font-size:1.1rem;
 
    line-height:1.6;
 
    color:#666;
}
 
/* ================= METODOLOGÍA ================= */
 
.metodologia{
    padding:90px;
    background:#faf8f3;
}
 
 
/* TÍTULO */
 
.metodologia h2{
    text-align:center;
    font-family:'Fredoka',sans-serif;
    font-size:3.5rem;
    margin-bottom:80px;
}
 
 
/* CONTENEDOR GENERAL */
 
.metodologia-contenedor{
    display:flex;
    justify-content:space-between;
    gap:35px;
}
 
 
/* CADA ETAPA */
 
.etapa{
    flex:1;
    display:flex;
    flex-direction:column;
}
 
.encabezado-etapa{
 
    display:flex;
 
    align-items:flex-start;
 
    gap:20px;
}
 
 
/* NÚMERO */
 
.numero{
    font-family:'Fredoka',sans-serif;
    font-size:10rem;
    font-weight:500;
    color:rgba(0,0,0,.08);
    line-height:1;
    flex-shrink:0;
}
 
 
/* CONTENIDO */
 
.contenido-etapa{
 
    flex:1;
}
 
 
/* TÍTULO */
 
.contenido-etapa h3{
 
    font-family:'Fredoka',sans-serif;
 
    font-size:2rem;
 
    color:#2e7d32;
 
    margin-bottom:15px;
}
 
 
/* TEXTO */
 
.contenido-etapa p{
 
    font-family:'Nunito',sans-serif;
 
    font-size:1.1rem;
 
    line-height:1.7;
 
    color:#666;
}
 
 
/* ELEMENTO DERECHO */
 
.elemento-etapa{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:5px;
}
 
.audio-silaba{
    width:180px;
    height:75px;
    background:white;
    border-radius:18px;
    margin-right: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    box-shadow: 0 6px 15px rgba(0,0,0,.08);
}
 
.audio-silaba span{
    font-family:'Fredoka',sans-serif;
    font-size:3.5rem;
    font-weight:450;
    color:#2e7d32;
    margin-bottom:10px;
}
 
.boton-audio{
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#57c84d;
    color:white;
    cursor:pointer;
    transition:.3s;
}
 
.boton-audio:hover{
 
    background:#43a047;
 
    transform:scale(1.08);
}
 
.imagen-oracion{
    width:220px;
    border:#ebebeb solid 4px;
    border-radius:18px;
    flex-direction:column;
    display:flex;
    justify-content:center;
    transition:.3s;
    margin-left: 50px;
}
 
.imagen-oracion:hover{
 
    transform:translateY(-5px);
}
 
.imagen-finx{
    width:220px;
    border-radius:18px;
    object-fit:contain;
    transition:.3s;
    margin-left: 50px;
}
 
.imagen-finx:hover{
    transform:translateY(-5px);
}
 
 
/* ============= TESTIMONIOS ================ */
 
.testimonios{
    padding:100px;
    background:#ffffff;
}
 
 
/* TÍTULO */
 
.testimonios h2{
    font-family:'Fredoka',sans-serif;
    text-align:center;
    font-size:3.5rem;
    color:#222;
    margin-bottom:70px;
}
 
 
/* CONTENEDOR */
 
.testimonios-grid{
    display:flex;
    gap:35px;
}
 
 
/* TARJETAS */
 
.testimonio{
    flex:1;
    background:#fafafa;
    padding:35px;
    border-radius:25px;
    box-shadow:
    0 8px 25px rgba(0,0,0,.08);
    transition:.3s ease;
}
 
.testimonio:hover{
    transform:translateY(-8px);
    box-shadow:
    0 12px 30px rgba(0,0,0,.12);
}
 
.estrellas{
    margin-bottom:25px;
}
 
.estrellas i{
    color:#ffc107;
    font-size:1.2rem;
    margin-right:5px;
}
 
.testimonio p{
    font-family:'Nunito',sans-serif;
    font-size:1.1rem;
    line-height:1.8;
    color:#555;
    margin-bottom:30px;
}
 
.persona{
    display:flex;
    align-items:center;
    gap:15px;
}
 
.persona img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
}
 
.persona h4{
    font-family:'Fredoka',sans-serif;
    font-size:1.2rem;
    color:#222;
    margin-bottom:5px;
}
 
.persona span{
    font-family:'Nunito',sans-serif;
    color:#777;
    font-size:0.95rem;
}
 
 
/* ============= CTA ================ */
 
.cta-section{
    background:linear-gradient(135deg,#3e6e46 0%,#66c969 55%,#3f6d42 100%);
    padding:45px 30px;
    text-align:center;
    color:white;
    margin-top:80px;
    overflow:hidden;
    position:relative;
}
 
 
/* CONTENEDOR */
 
.cta-content{
    max-width:900px;
    margin:auto;
}
 
 
/* TÍTULO */
 
.cta-section h2{
    font-family:'Fredoka',sans-serif;
    font-size:2.2rem;
    font-weight:700;
    margin-bottom:18px;
}
 
 
/* TEXTO */
 
.cta-section p{
    font-family:'Nunito',sans-serif;
    font-size:1.05rem;
    line-height:1.7;
    margin-bottom:28px;
    opacity:.95;
}
 
 
/* BOTÓN */
 
.cta-btn{
    display:inline-flex;
    align-items:center;
    gap:10px;
    background:white;
    color:#2e7d32;
    text-decoration:none;
    font-family:'Nunito',sans-serif;
    font-size:1rem;
    font-weight:800;
    padding:15px 30px;
    border-radius:14px;
    transition:.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}
 
 
/* HOVER */
 
.cta-btn:hover{
    transform:translateY(-3px);
    background:#f4f4f4;
    color:#2e7d32;
}
 
 
/* TEXTO PEQUEÑO */
 
.cta-section small{
    display:block;
    margin-top:18px;
    font-family:'Nunito',sans-serif;
    font-size:.9rem;
    opacity:.9;
}

/* REDES SOCIALES CTA */

.cta-redes{

    margin-top:25px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

    flex-wrap:wrap;

}

.cta-redes span{

    font-family:'Nunito',sans-serif;

    font-weight:700;

    color:white;

}

.cta-redes a{

    width:45px;

    height:45px;

    border-radius:50%;

    background:rgba(255,255,255,.18);

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    color:white;

    font-size:1.2rem;

    transition:.3s ease;

}

.cta-redes a:hover{

    background:white;

    color:#2e7d32;

    transform:translateY(-4px);

}




/* ================= TABLET ================= */

@media (max-width: 1020px){

    .hero{
        flex-direction:column;
        justify-content:center;
        text-align:center;
        height:auto;
        padding:80px 40px;
    }

    .hero-content{
        width:100%;
        align-items:center;
    }

    .hero-content h1{
        font-size:3.8rem;
        max-width:700px;
    }

    .hero-content p{
        font-size:1.2rem;
        max-width:600px;
    }

    .hero-characters{
        position:relative;
        right:auto;
        bottom:auto;
        margin-top:30px;
        justify-content:center;
    }

    .hero-characters img{
        width:170px;
    }

    .hero::after{
        display:none;
    }

    .beneficios{
        padding:70px 40px;
    }

    .beneficios-grid{
        flex-wrap:wrap;
    }

    .beneficio{
        min-width:250px;
    }

    .metodologia{
        padding:70px 40px;
    }

    .metodologia-contenedor{
        flex-direction:column;
        gap:60px;
    }

    .testimonios{
        padding:70px 40px;
    }

    .testimonios-grid{
        flex-wrap:wrap;
    }

    .redes-sociales{
        gap:14px;
        margin-top:20px;
        flex-wrap:wrap;
    }

    .redes-sociales a{
        width:44px;
        height:44px;
        font-size:1.1rem;
    }

}


@media (max-width: 768px){

    .hero{
        padding:60px 20px;
    }

    .hero-content h1{
        font-size:3rem;
        margin-bottom:20px;
    }

    .hero-content p{
        font-size:1.1rem;
        margin-bottom:25px;
    }

    .hero-btn{
        padding:15px 35px;
        font-size:1rem;
    }

    .hero-characters{
        gap:10px;
        flex-wrap:wrap;
    }

    .hero-characters img{
        width:110px;
    }

    .beneficios{
        padding:60px 20px;
    }

    .beneficios h2{
        font-size:2.3rem;
        margin-bottom:40px;
    }

    .beneficios-grid{
        flex-direction:column;
    }

    .beneficio{
        padding:20px;
    }

    .metodologia{
        padding:60px 20px;
    }

    .metodologia h2{
        font-size:2.4rem;
        margin-bottom:50px;
    }

    .encabezado-etapa{
        flex-direction:column;
        text-align:center;
        align-items:center;
    }

    .numero{
        font-size:5rem;
    }

    .contenido-etapa h3{
        font-size:1.8rem;
    }

    .contenido-etapa p{
        font-size:1rem;
    }

    .audio-silaba{
        width:170px;
        height:70px;
        margin-right:0;
    }

    .audio-silaba span{
        font-size:2.5rem;
    }

    .imagen-oracion,
    .imagen-finx{
        width:180px;
        margin-left:0;
    }

    .testimonios{
        padding:60px 20px;
    }

    .testimonios h2{
        font-size:2.5rem;
        margin-bottom:40px;
    }

    .testimonios-grid{
        flex-direction:column;
    }

    .cta-section{
        padding:50px 20px;
    }

    .cta-section h2{
        font-size:1.8rem;
    }

    .redes-sociales{
        justify-content:center;
        gap:12px;
        margin-top:18px;
    }

    .redes-sociales a{
        width:42px;
        height:42px;
        font-size:1rem;
    }

}