html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f7edd6; 
    font-family: 'Arial', sans-serif;
}


.juego-contenedor {
    position: relative;
    width: 100%;
    
    height: calc(100vh - 70px); 
    
    background: url('../images/fondoCapy.png') no-repeat center center;
    background-size: cover; 

    overflow: hidden; 
}