<<<<<<< HEAD
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: hsl(42, 100%, 88%); 
}

.juego-contenedor {
    position: relative;
    width: 100vw;
    
    height: 100vh; 
    
    background: url('images/fondoCapy.png');
    
    background-size: cover; 
}
=======
>>>>>>> 64d48a36d2e46b012c445b6c383d340ae62c4208
