body{
    background:url('../images/juego-cuento/selva2.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: Arial;
    margin: 0;
    color: white;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.letra{
    min-width: 100px;

    padding: 15px 20px;

    background: #444;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;

    border-radius: 10px;

    cursor: grab;

    transition: 0.3s;
}

.letra:hover{
    background: gold;
    color: black;

    transform: scale(1.05);
}

.dragging{
    opacity: 0.5;
}

.victoria h2{
    color: gold;
    font-size: 40px;
}

.victoria p{
    font-size: 20px;
}

@keyframes aparecer{

    from{
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    to{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}