/* NAVBAR */

.custom-navbar{
    background:#fff;
    padding:8px 0;
    box-shadow: 0 3px 15px rgba(0,0,0,.06);
    position:relative;
    z-index:1000;
}

.navbar .container{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

/* LOGO */

.logo{
    display:flex;
    align-items:center;
    gap:5px;
    text-decoration:none;
    font-size:2rem;
    font-weight:900;
}

.leo{
    color:#2ca02c;
    font-family:'Fredoka', sans-serif;
}

.ampersand{
    color:#1e88e5;
    font-family:'Fredoka', sans-serif;
}

.friends{
    color:#ff7a00;
    font-family:'Fredoka', sans-serif;
}

/* MENÚ */

.menu-center{
    display:flex;
    align-items:center;
    gap:40px;
}

.menu-center .nav-link{
    color:#333;
    font-weight:700;
    font-size:1.10rem;
    transition:.3s;
}

.menu-center .nav-link:hover{
    color:#2ca02c;
}

/* BOTONES */

.nav-buttons{
    display:flex;
    align-items:center;
    gap:18px;
}

.login-btn{
    background:#ffffff;
    border:2px solid #4caf50;
    color:#2e7d32;
    text-align:center;
    height:40px;
    width:150px;
    padding:5px 5px 0 5px;
    border-radius:14px;
    font-weight:700;
    transition:.3s ease;
    margin-left:20px;
}

.login-btn:hover{
    background:#e8f5e9;
    color:#2e7d32;
}

.register-btn{
    background:#4caf50;
    color:white;
    text-align:center;
    height:40px;
    width:150px;
    padding:5px 5px 0 5px;
    border-radius:14px;
    font-weight:700;
    transition:.3s ease;
}

.register-btn:hover{
    background:#388e3c;
    color:white;
}


/* PERFIL */

.profile-btn{
    border:2px solid #43a047;
    border-radius:12px;
    padding:10px 20px;
    font-weight:700;
    text-align:center;
}

@media(max-width:768px){

    .menu-center{

        gap:15px;

        margin-top:20px;

    }

    .nav-buttons{

        flex-direction:row;

        width:100%;

        margin-top:20px;

        margin-left:20px;

    }

    .login-btn,
    .register-btn{

        height:40px;
        width: 150px;;
        text-align:center;

    }

}