*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

body{
    background: #dff0d8;
}

/* CONTENEDOR */

.contenedor{
    width: 100%;
    min-height: 100vh;

    background-image: url('../images/mascotas-fondo.png');

    background-repeat: no-repeat;
    background-position: center;

    background-size: 100% 100%;

    padding: 30px;
}

/* BOTON VOLVER */

.btn-volver{
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    position: relative;
left: 90px;
top: 10px;
}

.btn-volver img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* TITULO */

.titulo{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.titulo img{
    width: 500px;
}

.titulo h1{
    position: absolute;

    color: white;

    font-size: 42px;
    font-weight: bold;

    letter-spacing: 2px;

    text-shadow: 3px 3px 0 rgba(0,0,0,0.25);
}

/* SUBTITULO */

.subtitulo{
    width: fit-content;

    margin: auto;

    background: white;

    padding: 10px 25px;

    border-radius: 30px;

    margin-bottom: 40px;

    font-size: 18px;
}

/* TARJETAS */

.mascotas{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* CARD */

.card{
    width: 260px;

    border-radius: 30px;

    padding: 20px;

    text-align: center;

    position: relative;

    border: 6px solid white;
    border: 5px solid rgba(255,255,255,0.8);
    box-shadow: 
0 6px 0 rgba(0,0,0,0.18),
inset 0 4px 10px rgba(255,255,255,0.35);
}

/* COLORES */

.verde{
    background: #70e85a;
}

.azul{
    background: #7fc7ff;
}

.amarillo{
    background: #ffd400;
}

/* NOMBRE */

.nombre{
    position: absolute;

    top: -20px;
    left: 50%;

    transform: translateX(-50%);

    padding: 8px 25px;

    border-radius: 20px;

    color: white;

    font-size: 25px;
    font-weight: bold;
}

.leo{
    background: #57c442;
}

.capy{
    background: #5ea8e0;
}

.finx{
    background: linear-gradient(
        to bottom,
        #ffcc00,
        #ff9900
    );
}

/* IMAGEN */

.card img{
    width: 210px;
    height: 210px;
    object-fit: contain;

    margin-top: 20px;
}

/* BOTON */

.btn-aventura{
    width: 100%;
    padding: 14px;
    border-radius: 20px;
    margin-top: 15px;

    font-size: 18px;
    font-weight: bold;

    display: block;
    text-align: center;
    text-decoration: none;
    color: white;

    box-shadow: 0 4px 0 rgba(0,0,0,0.20);
    border: 3px solid rgba(255,255,255,0.5);
}

/* VERDE */

.btn-verde{
    background: #23b000;
}

/* CELESTE */

.btn-celeste{
    background: #1fa2ff;
}

/* AMARILLO */

.btn-amarillo{
    background: #ff9f00;
}

.verde{
    background: linear-gradient(
        to bottom,
        #25CA25,
        #007904
    );
}

.azul{
    background: linear-gradient(to bottom, #a9dcff, #5eb6ff);
}

.amarillo{
    background: linear-gradient(to bottom, #ffe978, #ffbe00);
}

.amarillo{
    background: linear-gradient(
        to bottom,
        #fff35a 0%,
        #ffcf00 30%,
        #ffae00 65%,
        #ff9200 100%
    );
}

